<ion-content fullscreen class="ion-padding" scroll-y="false">
<ion-slides #slides  pagger="true" scrollbar="true">

  <ion-slide>

    <ion-list lines="full">
      
      <section lines="none">
        <ion-icon style="font-size:4em" name="mail-unread-outline"></ion-icon>
        <ion-label><h2>{{ langs?.confirmEmail }}</h2></ion-label>
      </section>
      <ion-item  class="ion-no-margin ion-no-padding">
        <ion-icon slot="start" name="keypad-outline"></ion-icon>
        <ion-input [(ngModel)]="verifycode"  name="verifycode" inputmode="numeric" type="number"></ion-input>
        <ion-button color="secondary" (click)="sendVerify($event)" [disabled]="counter != 0">
          {{counter == 0 ? langs?.send : [langs?.reSend,'(',counter,')'].join('')}}
        </ion-button>
      </ion-item>
      
      <section>
        <ion-button expand="block" color="primary" (click)="verify($event)" [disabled]="!youCanConfirm">{{langs?.confirm}}</ion-button>
      </section>
    </ion-list>
    
  </ion-slide>

  <ion-slide>

    <ion-list lines="full">

      <section lines="none">
        <ion-icon style="font-size:4em" name="language-outline"></ion-icon>
        <ion-label>
          <h2>{{ langs?.displayDesc }}</h2>
        </ion-label>
      </section>
        <ion-item>
          
          <ion-label position="floating">{{langs?.displayLabel}}</ion-label>
          <ion-select [(ngModel)]="data.displayLanguage" name="displayLanguage" ok-text="Okay">
            <ion-select-option *ngFor="let item of displayLanguages" [value]="item.code">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-label position="floating">{{langs?.sourceLabel}}</ion-label>
          <ion-select [(ngModel)]="data.sourceLanguage"  name="sourceLanguage" ok-text="Okay">
            <ion-select-option *ngFor="let item of sourceLanguages" [value]="item.code">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>

        

      <ion-item>
        <ion-label position="floating">{{langs?.targetLabel}}</ion-label>
        <ion-select [(ngModel)]="data.targetLanguage"  name="targetLanguage" ok-text="Okay">
          <ion-select-option *ngFor="let item of targetLanguages" [value]="item.code">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>

      <section>
        <ion-button expand="block" color="primary" (click)="updateLang($event)" [disabled]="!youCanSaveLang">{{langs?.saveLang}}</ion-button>
      </section>

    </ion-list>
  
</ion-slide>
</ion-slides>
</ion-content>