
.active-item {
  border-left: 8px solid var(--ion-color-primary);
}

ion-item[name=logout]{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.menu-header {
  text-align: center;
  margin: auto;
  // width: 50%;
  // margin-top: 10px;
  margin-bottom: 20px;
  padding: 5px 15px;
  .name {
    margin-top:8px;
    font-weight: 500;
    font-size:16px;
    margin-bottom: 3px;
  }
  .email {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .user-avatar {
    padding: .5em;
    height: 15vh;
    margin-top: 15px;
    // border: 3px solid #fff;
  }
}