
  <ion-menu contentId="content">
 
    <ion-header>
      <ion-toolbar>
        <ion-title slot="start">Langread</ion-title>
      </ion-toolbar>
    </ion-header>
 
    <ion-content>
      <div class="menu-header">
        <img class="user-avatar round" [src]="authService.avatarUrl"/>
        <p class="name">{{ user?.userName ? user?.userName : user?.email  }}</p>
        <ion-grid >
          <ion-row class="profile1-numbers">
    
            <ion-col size="4">
              <span>{{stats?.documentCount}}</span>
              <p>{{ 'appMenu.docs' | translate }}</p>
            </ion-col>
    
            <ion-col size="4">   
              <span>{{stats?.tagWordCount}}</span>
              <p>{{ 'appMenu.words' | translate }}</p>
            </ion-col>
    
            <ion-col size="4">
              <span>{{stats?.tagCount}}</span>
              <p>{{ 'appMenu.tags' | translate }}</p>
            </ion-col>
    
          </ion-row>
        </ion-grid>
      </div>
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of pages">
          <ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url">
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
            <ion-label>
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>


      </ion-list>
      <ion-item lines="full"  name="logout" routerLink="/login" routerDirection="root">
        <ion-icon name="log-out" slot="start"></ion-icon>
        <ion-label>
          {{'appMenu.logout' | translate}}
        </ion-label>
      </ion-item>
    </ion-content>
 
  </ion-menu>
 
  <ion-router-outlet id="content" main></ion-router-outlet>
