.lr-activatable {
  position: relative;
  overflow: hidden;
}

ion-input[type=text]{
  --padding-end:50px;
  --background: rgba(var(--ion-text-color-rgb,0,0,0),0.07);
  --padding-start: 12px;
  --padding-top: 12px;
  --padding-bottom: 12px;
}

ion-toolbar{
  background-color:white !important;
}

ion-button[name=download-content]{
  position: absolute;
  right: 5px;
  bottom: 5px;
}

a {
  text-decoration: none; 
  color:inherit;
}

.popover .popover-content {
  width:170px;
}
