<ion-card>
  <ion-item lines="none">
    <ion-avatar slot="start">
        <img src="http://localhost:81/api/auth/v1/user/avatar?text=sdfxcvksjdfjweior">
    </ion-avatar>
    <ion-label>
      <h3>Sine Zhang</h3>
      <p>November 5, 1955</p>
    </ion-label>
  </ion-item>
  <!-- <ion-slides pager>
      <ng-container *ngFor="let images of  feed.images | slice:1">
    <ion-slide  [ngStyle]="{'background' : 'url(' + images.url + ')'}">
    </ion-slide>
      </ng-container>
  </ion-slides> -->

<ion-card-content>
<ion-card-title>
  <h2 class="main_header4">Your Document Title Here</h2>
</ion-card-title>
<p>
  Segments display a group of related buttons, sometimes known as segmented controls, in a horizontal row. They can be displayed inside of a toolbar or the main content.
</p>
</ion-card-content>

<ion-row>
  <ion-col>
    <ion-button fill="clear" size="small">
      <ion-icon name="heart-outline"></ion-icon>
      12
    </ion-button>
    <ion-button fill="clear" size="small">
      <ion-icon name="copy-outline"></ion-icon>
        12
    </ion-button>

  </ion-col>

  <ion-col class="ion-text-right"> 
    <ion-button fill="clear" size="small">
      <ion-icon name="chatbox-ellipses-outline"></ion-icon>
      13
    </ion-button>
  </ion-col>
</ion-row>

</ion-card>