<ion-card>
  <ion-item lines="none">
    <ion-avatar slot="start">
        <img [appAvatarId]='moment.creator'>
    </ion-avatar>
    <ion-label>
      <h3>{{moment.userName}}</h3>
      <p>{{moment.createTime}}</p>
    </ion-label>
    <ion-button *ngIf="moment.creator == userId"  fill="clear" size="small" class="ion-text-right" (click)="openActSheet(moment.id)">
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-button>
  </ion-item>
  <!-- <ion-slides pager>
      <ng-container *ngFor="let images of  feed.images | slice:1">
    <ion-slide  [ngStyle]="{'background' : 'url(' + images.url + ')'}">
    </ion-slide>
      </ng-container>
  </ion-slides> -->

<ion-card-content class="ion-activatable">
<ion-card-title>
  <h2 class="main_header4">{{moment.title}}</h2>
</ion-card-title>
<a [routerLink]="['/doc-editor', {docId:moment.readId}]" routerDirection="forward">
  <p>
    <ion-ripple-effect></ion-ripple-effect>
    {{moment.content}}
  </p>
</a>
</ion-card-content>

<ion-row>
  <ion-col>
    <ion-button fill="clear" size="small" (click)="like($event)">
      <ion-icon name="heart-outline"></ion-icon>
      {{moment.upvoteCount}}
    </ion-button>
    <ion-button fill="clear" size="small">
      <ion-icon name="copy-outline"></ion-icon>
      {{moment.forkCount}}
    </ion-button>

  </ion-col>

  <ion-col class="ion-text-right"> 
    <ion-button fill="clear" size="small">
      {{getLanguage(moment.language)}}
    </ion-button>
  </ion-col>
</ion-row>

</ion-card>