<ion-header no-border [scrollHide]="headerScrollConfig" [scrollContent]="pageContent">
  <ion-toolbar>
      <ion-buttons slot="start">

        <ion-back-button defaultHref=""></ion-back-button>

      </ion-buttons>
    <ion-title slot="start">Group List</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showAddGroup()" *ngIf="currentSegment == 'followed'">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ngModel)="keywords"  showCancelButton="focus" debounce="500" (ionChange)='onSearch($event)'></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content #pageContent>

  <ion-segment value="discover" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="discover">
      <ion-label>Discover</ion-label>
    </ion-segment-button>
    <ion-segment-button value="followed">
      <ion-label>Followed</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item *ngFor="let item of groupItems | async"  [routerLink]="['/group-profile', item.id]">
      <ion-thumbnail slot="start">
        <ion-img [appAvatarId]="item.id"></ion-img>
      </ion-thumbnail>
      <ion-label>
          <h3>{{item.name}}</h3>
          <p class="line-clamp">{{item.description}}</p>
          <div class="group-info">
              <ion-label>
                <ion-icon name="documents-outline"></ion-icon>
                <span>{{item.readCount}}</span>
              </ion-label>
              <ion-label>
                <ion-icon name="people-outline"></ion-icon>
                <span>{{item.memberCount}}</span>
              </ion-label>
            </div>
        </ion-label>
      <ion-badge>{{getLanguage(item.languages)}}</ion-badge>
    </ion-item>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>

</ion-content>
