<ion-header>
  <ion-toolbar>
    <ion-title>{{'auth-register.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="registerForm">


      <ion-list lines="none">
        <ion-text color="dark">
          <h2 text-center class="ion-margin-bottom main-header7">
            {{'auth-register.createDesc' | translate}}
          </h2>
        </ion-text>


      <ion-item>
          <ion-icon slot="start" color="lightgrey" name="mail"></ion-icon>
          <ion-input type="text" formControlName="email"  [placeholder]="'auth-register.email' | translate"></ion-input>

          <ion-icon *ngIf="!isEmailTaken() && registerForm.valid" name="checkmark-done-outline" color="green"></ion-icon>
        </ion-item>
        <ion-item *ngIf="isEmailTaken()">
          <ion-text  color="danger" slot="end">
            {{'auth-register.emailTaken' | translate}}
          </ion-text>
        </ion-item>

        <ion-button color="greengrab" expand="block" [disabled]="!registerForm.valid || !youCanClick" (click)="register($event)">
          {{'auth-register.create' | translate}}
        </ion-button>
        <ion-button color="pink" expand="block" fill="outline"  routerLink="/side-menu/login">
            {{'auth-register.cancel' | translate}}
        </ion-button>
      </ion-list>


  </form>
</ion-content>
