ion-content[name=read]{
  // --padding-bottom:20px;
  // --padding-end:20px;
  // --padding-start:20px;
  // --padding-top:20px;
}



.test{
  position: fixed;
  z-index: 200;
}

.inner{ 
  position: relative; 
  height: auto; 
}

.horizontal-scroll{
  z-index: -1000;
  transform: translateY(-200%);
  opacity: 0;
}

.bookMarkToggled{
  .horizontal-scroll{
    transform: translateY(0);
    transition: 0.5s;
    opacity: 1;
    z-index: 200;
  }
  &::after {
		opacity: 1;
		visibility: visible;
	}
}

ion-text{
  margin-top: 20px;
}

ion-avatar > div{
  border-radius: 50%;
}

ion-chip ion-icon{
  display: none;
}

ion-chip[class$=selected] ion-icon{
  display: inline;
}


span[app-pick] {
  color: inherit;
  position: relative;
  text-decoration: none;
}



span[app-pick]:hover::after {
  // background-color: rgba(76, 122, 241, 0.75);
}

span[app-pick].ion-activatable.activated{
  background-color: yellowgreen;
}
[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}