<ion-header style="z-index: 400;">
  <ion-toolbar [hidden]="isToolbarHidden">
    <ion-buttons slot="start" [hidden]="mode == DocMode.Edit ? false : true">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button color="dark" *ngIf="wordTagDocument.isCreator">
        <ion-icon name="save"></ion-icon>
      </ion-button>      
      <ion-button color="dark" (click)="onModeChange($event)" *ngIf="wordTagDocument.isCreator">
        <ion-icon [name]="mode == DocMode.Read ? 'book' : 'create'"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="onTagClick($event)" *ngIf="wordTagDocument.isCreator">
        <ion-icon name="bookmark"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="openDocInfo($event)">
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
      <ion-button color="dark" (click)="openDocSave($event)" *ngIf="wordTagDocument.isCreator">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content  name="edit" [hidden]="mode == DocMode.Edit ? true : false" >
  <ion-input name="title" [(ngModel)]="doc.title"></ion-input>
  <form [formGroup]="form">
    <quill-editor #htmlEditor formControlName="html"  format="html" [placeholder]="lang?.insertContent"> 
      <div quill-editor-toolbar>
        <span class="ql-formats">
          <select class="ql-font">
            <option selected></option>
            <option value="serif"></option>
            <option value="monospace"></option>
          </select>
          <select class="ql-size">
            <option value="small"></option>
            <option selected></option>
            <option value="large"></option>
            <option value="huge"></option>
          </select>
        </span>
        <span class="ql-formats">
          <button class="ql-bold"></button>
          <button class="ql-italic"></button>
          <button class="ql-underline"></button>
          <button class="ql-strike"></button>
        </span>
        <span class="ql-formats">
          <select class="ql-color"></select>
          <select class="ql-background"></select>
        </span>
        <span class="ql-formats">
          <button class="ql-list" value="ordered"></button>
          <button class="ql-list" value="bullet"></button>
          <select class="ql-align">
            <option selected></option>
            <option value="center"></option>
            <option value="right"></option>
            <option value="justify"></option>
          </select>
        </span>
        <span class="ql-formats">
          <button class="ql-image"></button>
        </span>
      </div>
    </quill-editor>
  </form>
</ion-content>

<ion-content name="read" scrollEvents="true" (ionScroll)="onScroll($event)" [hidden]="mode == DocMode.Read ? true : false" 
            [ngClass]="showTags ? 'bookMarkToggled':''">
    
  <div class="test horizontal-scroll">
      <ion-chip *ngFor="let tag of tags | uniqueTags" [class.selected]='selectedValue === tag.tagName' (click)='onChooseTagClick(tag);selectedValue=tag.tagName;'>
        <ion-avatar>
          <div [style.background-color]="tag.tagColor" style="width: 100%; height: 100%;"></div>
        </ion-avatar>
        <ion-label>{{tag.tagName}}</ion-label>
        <ion-icon name="checkmark-circle"></ion-icon>
      </ion-chip>

  </div>

  <ion-card *ngIf="!wordTagDocument.isCreator">
    <ion-list>
      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="http://localhost:81/api/auth/v1/user/avatar/aflksadjflksdjf893245">
        </ion-avatar>
        <ion-label>
            <h3>{{(moment | async)?.userName}}</h3>
            <p>Posted at {{globalService.toLocalDate((moment | async)?.createTime)}}</p>
 
          </ion-label>
          <ion-button>Follow</ion-button>
      </ion-item>
    </ion-list>
  </ion-card>

  <quill-view-html class="reader" #innerHtml [content]="displayContent" theme="snow" (click)="onReaderClick($event)"></quill-view-html>
  <ion-card *ngIf="!wordTagDocument.isCreator" class="viewerBar">
    <ion-row>
      <ion-col>
        <ion-button fill="clear" size="small" (click)="like((moment))">
          <ion-icon name="heart-outline"></ion-icon>
          {{(moment | async)?.upvoteCount}}
        </ion-button>
        <ion-button fill="clear" size="small" (click)="openDocFork($event)">
          <ion-icon name="copy-outline"></ion-icon>
          {{(moment | async)?.forkCount}}
        </ion-button>

      </ion-col>

      <ion-col class="ion-text-right"> 
        <ion-button fill="clear" size="small" [routerLink]="'/msg-reply/' + docId">
          <ion-icon name="chatbox-ellipses-outline"></ion-icon>
          {{(moment | async)?.commentCount}}
      </ion-button>
    </ion-col>
    </ion-row>
  </ion-card>

</ion-content>