// ion-content[name=read]{
//   // --padding-bottom:20px;
//   // --padding-end:20px;
//   // --padding-start:20px;
//   // --padding-top:20px;
// }

ion-content[name=edit]{
  overflow: hidden !important;
  // height: 100vh;
}

.test{
  position: fixed;
  z-index: 200;
}

.inner{ 
  position: relative; 
  height: auto; 
}

.horizontal-scroll{
  z-index: -1000;
  transform: translateY(-200%);
  transition: 0.5s;
  opacity: 0;
  background-color: var(--ion-background-color);
}

.bookMarkToggled{
  .horizontal-scroll{
    transform: translateY(0);
    transition: 0.5s;
    opacity: 1;
    z-index: 200;
    background-color:var(--ion-background-color);
  }
  &::after {
		opacity: 1;
		visibility: visible;
	}
}

ion-text{
  margin-top: 20px;
}

ion-avatar > div{
  border-radius: 50%;
}

ion-chip ion-icon{
  display: none;
}

ion-chip[class$=selected] ion-icon{
  display: inline;
}

span[app-pick] {
  display: inline-block;
  color: inherit;
  position: relative;
  text-decoration: none;
  transition: transform .1s;
}

span[app-pick]:active{
  // background-color: rgba(76, 122, 241, 0.30);
  transform: scale(2.5);
}

span[app-pick]:hover{
  cursor: pointer;
}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

.ql-container{
  font-family: Georgia,Helvetica, Arial, sans-serif;
  background-color: var( --ion-reader-background);
  font-size: 16px;
  margin: 0px;
  position: relative;
  border: none !important;
  overflow: hidden;
  // height: 100vh;
}

.ql-blank{
  height: 100vh;
}



.reader p{
  margin-bottom: 1em;
}

.ql-editor{
  // min-height: 100%;

  p{
    margin-bottom: 1em;
  }
}

// form{
//   min-height: 100%;
//   overflow: hidden;
// }

ion-input[name=title]{
  --padding-start: 10px;
}

div[quill-editor-toolbar]{
  position: sticky;
  top: 0;
  background-color:var(--ion-background-color);
  z-index: 100;
}

.viewerBar{
  position: sticky;
  bottom: 10px;
  background-color:var(--ion-background-color);
  z-index: 100;
}

.save-modal{
  ion-backdrop{
    z-index: 15;
    
  }
  .modal-wrapper {
    height: 20%;
    
    top: 80%;
    position: absolute;
    z-index: 20;
  }
}