// ion-content[name=read]{
//   // --padding-bottom:20px;
//   // --padding-end:20px;
//   // --padding-start:20px;
//   // --padding-top:20px;
// }



.test{
  position: fixed;
  z-index: 200;
}

.inner{ 
  position: relative; 
  height: auto; 
}

.horizontal-scroll{
  z-index: -1000;
  transform: translateY(-200%);
  transition: 0.5s;
  opacity: 0;
  background-color: var(--ion-background-color);
}

.bookMarkToggled{
  .horizontal-scroll{
    transform: translateY(0);
    transition: 0.5s;
    opacity: 1;
    z-index: 200;
    background-color:var(--ion-background-color);
  }
  &::after {
		opacity: 1;
		visibility: visible;
	}
}

ion-text{
  margin-top: 20px;
}

ion-avatar > div{
  border-radius: 50%;
}

ion-chip ion-icon{
  display: none;
}

ion-chip[class$=selected] ion-icon{
  display: inline;
}


span[app-pick] {
  display: inline-block;
  color: inherit;
  position: relative;
  text-decoration: none;
  transition: transform .3s; /* Animation */
}



// span[app-pick]:hover::after {
//   background-color: rgba(76, 122, 241, 0.75);
// }

span[app-pick]:active{
  background-color: rgba(76, 122, 241, 0.30);
  transform: scale(1.5);
}

span[app-pick]:hover{
  cursor: pointer;


}

[contenteditable] {
  -webkit-user-select: text;
  user-select: text;
}

.ql-container{
  font-family: Georgia,Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0px;
  position: relative;
}

.reader p{
  margin-bottom: 1em;
}

.ql-editor p{
  margin-bottom: 1em;
}

form{
  height: 100vh;
}

ion-input[name=title]{
  --padding-start: 10px;
}

div[quill-editor-toolbar]{
  bottom: 0;
}