<ion-header>

  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Timeline</ion-title>
  </ion-toolbar>
</ion-header>
<ion-searchbar [(ngModel)]="keywords"  showCancelButton="focus" debounce="500" (ionChange)='onSearch($event)'></ion-searchbar>

<ion-content>
  <ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <app-no-content *ngIf="timelineItems && timelineItems.words == 0">
  </app-no-content>
  <ion-list>
    <ng-container *ngIf="this.timelineItems.words.length == 0">
      <ion-list>
  
          <ion-item *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]">
            <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          </ion-item>
  
      </ion-list>
    </ng-container>
    <ion-row *ngFor="let word of this.timelineItems.words" >

      <ion-item class="ion-activatable" style="width: 100%;"> 
        <ng-container >
          <ion-label position="stacked">
            <h1>{{ word  }}</h1>
            <p>
              <word-tag-info *ngFor="let tag of getTags(word)" [tag]="tag.tag"></word-tag-info>
            </p>
          </ion-label>
        </ng-container>
        <ion-ripple-effect></ion-ripple-effect>
      </ion-item>

    </ion-row>
    <ion-infinite-scroll *ngIf="this.timelineItems.words.length > 0" threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-list>
</ion-content>
