#canvasContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.canvas {
  // display: block;
  // position: relative;
  overflow: hidden;

  // 
}

ion-spinner[name=dots]{
  transform: scale(3);
  width: 100%;
}