// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

//https://medium.com/@paulstelzer/ionic-4-how-to-add-more-colors-and-use-them-as-color-in-buttons-and-more-7175ab4ae4e7
.ion-color-gold {
  --ion-color-base: var(--ion-color-gold) !important;
  --ion-color-base-rgb: var(--ion-color-gold-rgb) !important;
  --ion-color-contrast: var(--ion-color-gold-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-gold-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-gold-shade) !important;
  --ion-color-tint: var(--ion-color-gold-tint) !important;
}






.ion-color-pink{
  
  --ion-color-base: #e91e63;
  --ion-color-rgb: 233,30,99;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #cd1a57;
  --ion-color-tint: #eb3573;
}
.ion-color-pink-invert{
  
  --ion-color-base: #ffffff;
  --ion-color-rgb: 255,255,255;
  --ion-color-contrast: e91e63;
  --ion-color-contrast-rgb: 233,30,99;
  --ion-color-shade: #cd1a57;
  --ion-color-tint: #eb3573;
}
 .ion-color-black{
  
  --ion-color-base: #000000;
  --ion-color-rgb: 0, 0, 0;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255, 255, 255;
  --ion-color-shade: #1e2023;
  --ion-color-tint: #383a3e;
}

//***** light grey  ******//
.ion-color-lightgrey{
  
    --ion-color-base: #A2A2A2;
    --ion-color-rgb: 244, 244, 244;
    --ion-color-contrast: #3a3a3a;
    --ion-color-contrast-rgb: 0, 0, 0;
    --ion-color-shade: #d7d8da;
    --ion-color-tint: #f5f6f9;
}


.ion-color-white{
  --ion-color-base: #ffffff;
  --ion-color-rgb: 255,255,255;
  --ion-color-contrast: #989aa2;
  --ion-color-primary-contrast-rgb: 152, 154, 162;
  --ion-color-primary-shade: #e0e0e0;
  --ion-color-primary-tint: #ffffff;
}

.ion-color-ulightgrey{
  
  --ion-color-base: #ddd;
  --ion-color-rgb: 221,221,221;
  --ion-color-contrast: #000000;
  --ion-color-contrast-rgb: 0, 0, 0;
  --ion-color-shade: #c2c2c2;
  --ion-color-tint: #e0e0e0;
}



.ion-color-favorite {
  --ion-color-base: #69bb7b;
  --ion-color-rgb: 105,187,123;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #5ca56c;
  --ion-color-tint: #78c288;
}

.ion-color-realgreen-invert {
  --ion-color-base: #ffffff;
  --ion-color-rgb: 255,255,255;
  --ion-color-contrast: #26B266;
  --ion-color-contrast-rgb: 38,178,102;
  --ion-color-shade: #219d5a;
  --ion-color-tint: #3cba75;
}

.ion-color-realgreen {
  --ion-color-base: #26B266;
  --ion-color-rgb: 38,178,102;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #219d5a;
  --ion-color-tint: #3cba75;
}
.ion-color-greengrab {
  --ion-color-base: #009f34;
  --ion-color-rgb: 0,159,52;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #008c2e;
  --ion-color-tint: #1aa948;
}
.ion-color-greengrab-invert {
  --ion-color-base: #ffffff;
  --ion-color-rgb: 255,255,255;
  --ion-color-contrast: #009f34;
  --ion-color-contrast-rgb: 0,159,52;
  --ion-color-shade: #008c2e;
  --ion-color-tint: #1aa948;
}

.ion-color-bluegrey-invert {
  --ion-color-base: #ffffff;
  --ion-color-base-rgb: 255,255,255;
  --ion-color-contrast: #607D8B;
  --ion-color-contrast-rgb: 96,125,139;
  --ion-color-shade: #546e7a;
  --ion-color-tint: #ffffff;
}
.ion-color-bluegrey {
  --ion-color-base: #607D8B;
  --ion-color-base-rgb: 96,125,139;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #546e7a;
  --ion-color-tint: #708a97;
}
.ion-color-grey1 {
  --ion-color-base: #E8E8E8;
  --ion-color-base-rgb: 232,232,232;
  --ion-color-contrast: #999;
  --ion-color-contrast-rgb: 0,0,0;
  --ion-color-shade: #cccccc;
  --ion-color-tint: #eaeaea;
}
.ion-color-orange {
  --ion-color-base: #F9690E;
  --ion-color-base-rgb: 105,187,123;

  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;

  --ion-color-shade: #db5c0c;
  --ion-color-tint: #fa7826;
}

.ion-color-orange-invert {
  --ion-color-base: #fff;
  --ion-color-base-rgb: 255,255,255;
  --ion-color-contrast: #F9690E;
  --ion-color-contrast-rgb:  73,73,73;
  --ion-color-shade: #a2a2a2;
  --ion-color-tint: #ffffff;
}
.ion-color-green{
  --ion-color-base: #35C27D;
  --ion-color-base-rgb: 53,194,125;
  --ion-color-contrast: #ffffff;
  --ion-color-contrast-rgb: 255,255,255;
  --ion-color-shade: #2fab6e;
  --ion-color-tint: #49c88a;
}