<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>{{'app-profile.profile-title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="info-card">
    <ion-item style="padding:0px !important;">
        <ion-avatar slot="start">
          <img [src]="authService.avatarUrl">
        </ion-avatar>
        <ion-label>
            <h3>{{(userDetail | async)?.firstname}}</h3>
            <p (click)="logout()">{{'app-profile.logout' | translate}}</p>
 
          </ion-label>
    
    </ion-item>

  </ion-card>

  <ion-card class="info-card">
      <ion-list>
          <ion-list-header>
              {{'app-profile.title-info' | translate}}
            </ion-list-header>
          <ion-item href="#" routerLink="/profile-editor">
              <ion-label>{{'app-profile.label-firstname' | translate}}: {{user?.firstName}} </ion-label>
            </ion-item>
            <ion-item href="#" routerLink="/profile-editor">
              <ion-label>{{'app-profile.label-lastname' | translate}}: {{user?.lastName}}</ion-label>
            </ion-item>
            <ion-item href="#" routerLink="/profile-editor">
              <ion-label>{{'app-profile.label-username' | translate}}: {{user?.userName}}</ion-label>
            </ion-item>            

      </ion-list>
  </ion-card>


  <!--  -->
  <ion-card class="info-card">
      <ion-list>
          <ion-list-header>
              {{'app-profile.title-account' | translate}}
            </ion-list-header>
              <ion-item href="#" routerLink="/auth-email">
                  <ion-label>{{'app-profile.label-changeemail' | translate}}</ion-label>
             </ion-item>
             <ion-item href="#" routerLink="/auth-password">
              <ion-label>{{'app-profile.label-changepassword' | translate}}</ion-label>
         </ion-item>
        </ion-list>
  </ion-card>
</ion-content>
