<ion-content>
  <ion-list lines="none"  >
    <form [formGroup]="loginForm">
      <ion-item class="ion-no-margin ion-no-padding">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input type="text" formControlName="email"  [placeholder]="lang?.email"></ion-input>
      </ion-item>
      <ion-item class="ion-no-margin ion-no-padding">
        <ion-icon slot="start" name="keypad-outline"></ion-icon>
        <ion-input [(ngModel)]="code" formControlName="code"  name="code" inputmode="numeric" type="number" [placeholder]="lang?.confirmCode"></ion-input>
        <ion-button color="secondary" (click)="sendTotp($event)" [disabled]="counter != 0">
          {{counter == 0 ? lang?.send : [lang?.reSend,'(',counter,')'].join('')}}
        </ion-button>
      </ion-item>
    <ion-button name="login" expand="full" [disabled]="!loginForm.valid || !youCanClick" (click)="login($event)">
      {{lang?.login}}
    </ion-button>
    </form>
  </ion-list>
</ion-content>
