<ion-content>
  <ion-list lines="none"  >
    <form [formGroup]="loginForm">
      <ion-item class="ion-no-margin ion-no-padding">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input type="text" formControlName="email"  placeholder="Email"></ion-input>
      </ion-item>
      <ion-item class="ion-no-margin ion-no-padding">
        <ion-icon slot="start" name="keypad-outline"></ion-icon>
        <ion-input [(ngModel)]="code" formControlName="code"  name="code" inputmode="numeric" type="number" placeholder="Enter 6-digits code here"></ion-input>
        <ion-button color="secondary" (click)="sendTotp($event)" [disabled]="counter != 0">
          {{counter == 0 ? 'Send' : ['Resend(',counter,')'].join('')}}
        </ion-button>
      </ion-item>

    <!-- <ion-item *ngIf="isEmailTaken()">

    </ion-item> -->


    <ion-button name="login" expand="full" [disabled]="!loginForm.valid || !youCanClick" (click)="login($event)">
      Login
    </ion-button>
    </form>
  </ion-list>
</ion-content>
