<ion-header>
  <ion-toolbar>
    <ion-title>social-profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ng-container *ngIf="userSocial | async as userSocialResult">
    <ion-item lines="none" class="profile-info">
      <ion-avatar slot="start">
          <img [appAvatarId]="userSocialResult.id">

        </ion-avatar>
        <ion-label>
          <h1>{{userSocialResult.name}}</h1>
          
          
        </ion-label>
        <ion-button (click)="follow($event)">{{userSocialResult.isFollowing ? 'Following' : 'Follow'}}</ion-button>
      </ion-item>
      <ion-item>
        
        <p>{{userSocialResult.description}}</p>
        
        
      </ion-item>
    </ng-container>
    
    <ion-item name="number-info">
      <ion-grid>
        <ion-row>
  
          <ion-col size="3">
            <ion-label>{{(stats | async)?.documentCount}}</ion-label>
            <p name="number-label"><ion-icon name="bookmarks-outline"></ion-icon> Read</p>
          </ion-col>
  
          <ion-col size="3">   
            <span>{{(stats | async)?.tagCount}}</span>
            <p name="number-label"><ion-icon name="bookmarks-outline"></ion-icon> Tags</p>
          </ion-col>
  
          <ion-col size="3">   
            <span>{{(stats | async)?.tagWordCount}}</span>
            <p name="number-label"><ion-icon name="bookmarks-outline"></ion-icon> Words</p>
          </ion-col>

          <ion-col size="3">   
            <span>{{(userSocial | async)?.followerCount}}</span>
            <p name="number-label"><ion-icon name="bookmarks-outline"></ion-icon> Followers</p>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-item>

<ion-item class="margin-bottom-10" lines="none">
    <h4 class="margin-top-3 main-header4">Groups</h4>
</ion-item>


<ion-item class="group-list">
<div class="horizontal-scroll slide-left">
  <ion-card *ngFor="let group of groupTypes$ | async" class="agent-icon" [routerLink]="'/group-profile/'+group.id">
    <div class="card-container">
      <ion-thumbnail class="group-avatar">
        <img [appAvatarId]="group.id">
      </ion-thumbnail>
      <div class="group-title"><ion-label>{{group.name}}</ion-label></div>
    </div>
  </ion-card>
</div>


  
</ion-item>

<ion-segment value="posts" (ionChange)="segmentChanged($event)">
  <ion-segment-button value="posts">
    <ion-label>Posts</ion-label>
  </ion-segment-button>
  <ion-segment-button value="topmost">
    <ion-label>Topmost</ion-label>
  </ion-segment-button>    
  <ion-segment-button value="followers">
    <ion-label>Followers</ion-label>
  </ion-segment-button>
  <ion-segment-button value="followings">
    <ion-label>Following</ion-label>
  </ion-segment-button>

</ion-segment>

<ion-list *ngIf="currentSegment == 'posts' ? true : false">
  <post-cards [type]="momentGroupType" [id]="userId"></post-cards>
</ion-list>

<ion-list *ngIf="currentSegment == 'topmost' ? true : false">
  <top-most [userId]="userId"></top-most>
</ion-list>

<ion-list *ngIf="currentSegment == 'followers' ? true : false">
  <user-cards [load]="loadFollowers"></user-cards>
</ion-list>

<ion-list *ngIf="currentSegment == 'followings' ? true : false">
  <user-cards [load]="loadFollowings"></user-cards>
</ion-list>
</ion-content>
