ion-col{
  margin: 0 auto;
}

.main-h-card{
  display: inline-block;
  vertical-align: top; /* here */
  border-radius: 9px  !important;
}

.agent-icon{
  display: inline-flex;
  margin: auto 5px auto 5px !important;
  border-radius: 9px  !important;
  padding:1em;
  width:10em;
}

.group-list{
  margin-bottom: 20px;
}

p[name=number-label]{
  font-size: 0.8em;
}

.card-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

ion-item[name=number-info] ion-col{
  margin: 0 auto;
}