.XpoqFe {
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 20px;
}

.vk_gy {
  color: #878787 !important;
}

.eQJLDd {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
