<ion-header>
  <ion-toolbar>
    <ion-title>{{lang?.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none"  >
    <form [formGroup]="passwordForm">
    <ion-item class="ion-no-margin ion-no-padding">
      <ion-icon slot="start" name="keypad-outline"></ion-icon>
      <ion-input [(ngModel)]="verifycode" formControlName="verifycode"  name="verifycode" inputmode="numeric" type="number" [placeholder]="lang?.confirmCode"></ion-input>
      <ion-button color="secondary" (click)="sendReset($event)" [disabled]="counter != 0">
        {{counter == 0 ? lang?.send : [lang?.reSend,'(',counter,')'].join('')}}
      </ion-button>
    </ion-item>
    <ion-item class="ion-no-margin ion-no-padding">
      <ion-icon slot="start" name="key"></ion-icon>
      <ion-input type="password" formControlName="password" [placeholder]="lang?.confirmPassword"></ion-input>
    </ion-item>
    <!-- <ion-item *ngIf="isEmailTaken()">

    </ion-item> -->


    <ion-button name="updatePassword" expand="block" [disabled]="!passwordForm.valid || !youCanClick" (click)="changePassword($event)">
      {{lang?.change}}
    </ion-button>
    </form>
  </ion-list>
</ion-content>
