<ion-header>
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <ion-title>{{'profile-editor.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="profileForm">


    <ion-list lines="none">
      <ion-card>
        <ion-list-header>
          {{'profile-editor.profileCard' | translate}}
        </ion-list-header>
        <ion-item>
          <ion-label position="stacked">{{'profile-editor.firstName' | translate}}</ion-label>
          <ion-input type="text" formControlName="firstName"  [placeholder]="'profile-editor.firstName' | translate"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label position="stacked">{{'profile-editor.lastName' | translate}}</ion-label>
          <ion-input type="text" formControlName="lastName"  [placeholder]="'profile-editor.lastName' | translate"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">{{'profile-editor.userName' | translate}}</ion-label>
          <ion-input type="text" formControlName="userName"  [placeholder]="'profile-editor.userName' | translate"></ion-input>
        </ion-item>
        
      </ion-card>

      <ion-card>

        <ion-list-header>
          {{'profile-editor.languageCard' | translate}}
        </ion-list-header>
        <ion-item>
          <ion-label position="stacked">{{'profile-editor.displayLabel' | translate}}</ion-label>
          <ion-select formControlName="displayLanguage" [okText]="'general.selectOk' | translate" [cancelText]="'general.selectCancel' | translate" >
            <ion-select-option *ngFor="let item of displayLanguages" [value]="item.code">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">{{'profile-editor.sourceLabel' | translate}}</ion-label>
          <ion-select formControlName="sourceLanguage" [okText]="'general.selectOk' | translate" [cancelText]="'general.selectCancel' | translate" >
            <ion-select-option *ngFor="let item of sourceLanguages" [value]="item.code">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">{{'profile-editor.targetLabel' | translate}}</ion-label>
          <ion-select formControlName="targetLanguage" [okText]="'general.selectOk' | translate" [cancelText]="'general.selectCancel' | translate" >
            <ion-select-option *ngFor="let item of targetLanguages" [value]="item.code">{{item.name}}</ion-select-option>
          </ion-select>
        </ion-item>
        
      </ion-card>

      <ion-card>

        <ion-item>
          <ion-label>{{'profile-editor.darkMode' | translate}}</ion-label>
          <ion-toggle color="primary" formControlName="darkMode"></ion-toggle>
        </ion-item>
        
      </ion-card>

      <ion-button expand="block" [disabled]="!profileForm.valid || !youCanClick" (click)="save($event)">
        {{'profile-editor.save' | translate}}
      </ion-button>

    </ion-list>


</form>


</ion-content>
