form{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

ion-list{
  width: 100%;
}

ion-input[type=file]{
  position: absolute;
  bottom: 0;
  opacity: 0;
}

ion-icon[name=add-circle-outline]{
  font-size: 2em;
}

.upload-wrapper{
  width: 100%;
}