

<ion-content>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input [(ngModel)]='doc.title'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Url</ion-label>
    <ion-input></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Created</ion-label>
    <ion-input slot="end" readonly [value]='doc.createDate'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Updated</ion-label>
    <ion-input slot="end" readonly [value]="doc.updateDate" size="100"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Words</ion-label>
    <ion-badge slot="end">{{doc.wordsCount}}</ion-badge>
  </ion-item>
  <ion-list-header>Tags</ion-list-header>
  <p>
    <ion-chip *ngFor="let item of tagInfo | keyvalue">
      <ion-avatar>
        <div [style.background-color]='getTagColor(item.key)' style="width: 100%; height: 100%;"></div>
      </ion-avatar>
      <ion-label name="tag-name">{{item.key}}</ion-label>
      <ion-badge>{{item.value}}</ion-badge>
    </ion-chip>
  </p>

</ion-content>
