

<ion-content>
  <ion-item>
    <ion-label position="stacked">{{'doc-info.title' | translate}}</ion-label>
    <ion-input [(ngModel)]='doc.title'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{'doc-info.url' | translate}}</ion-label>
    <ion-input [(ngModel)]='doc.url'></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">{{'doc-info.created' | translate}}</ion-label>
    <ion-input readonly [value]='displayCreateDate'></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">{{'doc-info.updated' | translate}}</ion-label>
    <ion-input readonly [value]="displayUpdateDate" size="100"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>{{'doc-info.words' | translate}}</ion-label>
    <ion-badge slot="end">{{doc.wordsCount}}</ion-badge>
  </ion-item>
  <ion-list-header>{{'doc-info.tags' | translate}}</ion-list-header>
  <p>
    <word-tag-info *ngFor="let item of tagInfo | keyvalue" [tag]='getTag(item.key)' [displayValue]='item.value' (onTouch)="onTouch($event)"></word-tag-info>
  </p>

</ion-content>
