<!-- <ion-header>
  <ion-buttons slot="start" >
    <ion-back-button color="dark" defaultHref=""></ion-back-button>
  </ion-buttons>
</ion-header> -->
<!-- <ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header> -->
<!-- <ion-header>
<ion-toolbar>

  <ion-buttons slot="start">
    <ion-back-button text="" icon="arrow-back-outline" color="dark"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>
   -->

   <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button color="black"  size="small">
      <ion-icon name="arrow-back-circle" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab>
<ion-content>

  <!-- <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-buttons>
      <ion-back-button text="" icon="arrow-back-outline" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-fab> -->




    
  <ion-list name="word">
    <ion-list-header>disestablishment!!!!!!!!!!!!!!!!!!!!!!!</ion-list-header>
  </ion-list>
  <ion-list>
    <ion-item>

      <ion-button size="small">
        <ion-icon name="play-circle-outline"></ion-icon>
      </ion-button>
      <span class="S23sjd">/ˌdisəˈstabliSH/</span>
<div class="celsius" slot="end">

  <ion-icon name="thermometer-outline"  style="font-size: x-large;"></ion-icon>
  <span aria-label="°Celsius" style="font-size:13px;">20°C</span>
</div>

    </ion-item>
      <ion-list-header>Tags</ion-list-header>
    <ion-card>
      
      <ion-card-content>
        <word-tag-info [tag]="{tagName:'test1'}"></word-tag-info>
        <word-tag-info [tag]="{tagName:'test2'}"></word-tag-info>
        <word-tag-info [tag]="{tagName:'test3'}"></word-tag-info>
        <word-tag-info [tag]="{tagName:'test4'}"></word-tag-info>
        <word-tag-info [tag]="{tagName:'test5'}"></word-tag-info>
        <word-tag-info [tag]="{tagName:'test6'}"></word-tag-info>
    
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-list-header>Translation</ion-list-header>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>adjective</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ol class="eQJLDd">
          <li>
            <div style="display: block;">
              <div style="margin-left: 20px;">
                <div class="XpoqFe">
                  <div style="display:inline" data-dobid="dfn"><span>of an extent, amount, or intensity considerably above the normal or average.</span></div>
                  <div class="vmod"><div class="vk_gy">"the article was of great interest"</div></div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div style="display: block;">
              <div style="margin-left: 20px;">
                <div class="XpoqFe">
                  <div style="display:inline" data-dobid="dfn"><span>of ability, quality, or eminence considerably above the normal or average.</span></div>
                  <div class="vmod"><div class="vk_gy">""the great Italian conductor"</div></div>
                </div>
              </div>
            </div>
          </li>
        </ol>


    
      </ion-card-content>
      <ion-card-header>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <word-tag-info [tag]="{tagName:'test1'}"></word-tag-info>
        <word-tag-info [tag]="{tagName:'test2'}"></word-tag-info>
        <word-tag-info [tag]="{tagName:'test3'}"></word-tag-info>
        <word-tag-info [tag]="{tagName:'test4'}"></word-tag-info>
        <word-tag-info [tag]="{tagName:'test5'}"></word-tag-info>
        <word-tag-info [tag]="{tagName:'test6'}"></word-tag-info>
    
      </ion-card-content>
    </ion-card>
  </ion-list>

  <ion-list>
    <ion-button expand="full">Search "disestablishment" in documents</ion-button>
  </ion-list>
</ion-content>
