<!-- <ion-header>
  <ion-buttons slot="start" >
   
  </ion-buttons>
</ion-header> -->
<!-- <ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header> -->
<!-- <ion-header>
<ion-toolbar>

  <ion-buttons slot="start">
    <ion-back-button text="" icon="arrow-back-outline" color="dark"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>
   -->


<ion-content>

  <ion-fab vertical="top" horizontal="start" slot="fixed" >
    <ion-back-button defaultHref=""></ion-back-button>
  </ion-fab>




  <ng-container *ngIf="wordProfile">

    <ion-list name="word">
      <ion-list-header>{{wordProfile.word}}</ion-list-header>
    </ion-list>
    <ion-list>
      <ion-item>

        <ng-container *ngIf="wordProfile.translationResult">

          <word-sound [word]="wordProfile.word" [lang]="userObj.targetLanguage"></word-sound>
          <!-- <span class="phoneticSpelling">{{pronunciation}}</span> -->
          
        </ng-container>
        
        <word-temp slot="end" [score]="wordProfile.score"></word-temp>

      </ion-item>


      <ion-list-header>{{lang?.tagHeader}}</ion-list-header>
      <ion-card>
        <ion-card-content>
          <word-tag-info *ngFor="let item of wordProfile.wordInfo" [tag]="item.tag" [displayValue]="item.count" (tagClick)="openTagEditor(item.tag)"  (close)="tagRemove(item.tag)"></word-tag-info>
        </ion-card-content>
      </ion-card>
    </ion-list>



  <ng-container *ngIf="wordProfile.translationResult">
     <word-dictionary [translationResult]="wordProfile.translationResult"></word-dictionary>
  </ng-container>

  <ng-container *ngIf="wordTrends">
    <word-trend [word]="word" [wordTrends]="wordTrends"></word-trend>
  </ng-container>


    
    <ion-list>
      <ion-button expand="block" [routerLink]="['/doc-list',{defaultWord:wordProfile.word}]">{{lang?.searchWord}}</ion-button>
    </ion-list>

  </ng-container>




  <div [hidden]="wordProfile">
    <ion-list name="word">
      <ion-list-header>
        <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
      </ion-list-header>
    </ion-list>
    <ion-list>
      <ion-item>

        <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>

      </ion-item>
      <ion-list-header>{{lang?.tagHeader}}</ion-list-header>
      <ion-card>

        <ion-card-content>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>

        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list>
      <ion-list-header>{{lang?.translateHeader}}</ion-list-header>
      <ion-card>
        <ion-card-content>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list>
      <ion-list-header>{{lang?.trendHeader}}</ion-list-header>
      <ion-card>
        <ion-card-content>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </div>

</ion-content>