ol, ul, li {
  margin: 0;
  padding: 0;
}

ion-list[name=word]{
  padding-top: 17%;
// background-image: linear-gradient(to top, red , white);;
}

ion-list[name=word] ion-list-header{
  font-size: 2.5rem;
  font-weight: 900;
  display: block;
  overflow: overlay;
  overflow: auto;
}

ion-card{
  margin-top: 5px;
}

ion-fab-button{
  opacity: 0.4;
}


.phoneticSpelling {
  padding-left: 10px;
  font-size: 14px;
  line-height: 20px;
  line-height: 16px;
  color: #70757A;
}

// ion-icon[name=thermometer-outline]{
//   color: #FFc800;
// }

ion-icon[name=arrow-back-outline]{
  font-size: 30px;
  --background: rgba(var(--ion-text-color-rgb,0,0,0)) !important;
}