<!-- <ion-header>
  <ion-buttons slot="start" >
   
  </ion-buttons>
</ion-header> -->
<!-- <ion-header>
  <ion-toolbar>

  </ion-toolbar>
</ion-header> -->
<!-- <ion-header>
<ion-toolbar>

  <ion-buttons slot="start">
    <ion-back-button text="" icon="arrow-back-outline" color="dark"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
</ion-header>
   -->


<ion-content>

  <ion-fab vertical="top" horizontal="start" slot="fixed" >
    <!-- <ion-icon name="arrow-back-outline" color="dark" class="ion-activatable" (click)="goBack($event)"></ion-icon> -->
    <ion-back-button defaultHref=""></ion-back-button>
  </ion-fab>
  <!-- <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-buttons>
      <ion-back-button text="" icon="arrow-back-outline" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-fab> -->




  <ng-container *ngIf="wordProfile">

    <ion-list name="word">
      <ion-list-header>{{wordProfile.word}}</ion-list-header>
    </ion-list>
    <ion-list>
      <ion-item>

        <ng-container *ngIf="wordProfile.dictResult">

          <ion-button size="small" (click)="playAudio()">
            <ion-icon [name]="isPlaying ? 'pause-circle-outline' :'play-circle-outline'"></ion-icon>
          </ion-button>
          <span class="phoneticSpelling">/{{pronunciation.phoneticSpelling}}/</span>
          
        </ng-container>
        
        <div class="celsius" slot="end">

          <ion-icon name="thermometer-outline" style="font-size: x-large;" [style.color]='wordColor'></ion-icon>
          <span aria-label="°Celsius" style="font-size:13px;">{{formattedScore}}</span>
        </div>

      </ion-item>


      <ion-list-header>Tags</ion-list-header>
      <ion-card *ngFor="let item of wordProfile.wordInfo">
        <ion-card-content>
          <word-tag-info [tag]="item.tag" [displayValue]="item.count"></word-tag-info>
        </ion-card-content>
      </ion-card>
    </ion-list>

    <ng-container *ngIf="wordProfile.dictResult">

      <ion-list>
        <ion-list-header>Translation</ion-list-header>
        
        <ion-card *ngFor="let resultEntries of wordProfile.dictResult.results">
          <ng-container *ngFor="let lexicalEntry of resultEntries.lexicalEntries">
            <ion-card-header>
              <ion-card-subtitle>{{lexicalEntry.lexicalCategory}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content *ngFor="let senseEntry of lexicalEntry.entries">
            <ol class="eQJLDd" >
              <li *ngFor="let sense of senseEntry.senses">
                <div style="display: block;">
                  <div style="margin-left: 20px;">
                    <div class="XpoqFe">
                      <div style="display:inline"><span>{{sense.definitions[0]}}</span></div>
                      <div class="vmod">
                        <div class="vk_gy" *ngFor="let example of sense.examples">"{{example}}"</div>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
            </ol>
          </ion-card-content>
        </ng-container>
      </ion-card>
    </ion-list>
  </ng-container>
    
    <ion-list>
      <ion-button expand="block" [routerLink]="['/doc-list',{defaultWord:wordProfile.word}]">Search "{{wordProfile.word}}" in documents</ion-button>
    </ion-list>

  </ng-container>

  <ng-container *ngIf="!wordProfile">
    <ion-list name="word">
      <ion-list-header>
        <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
      </ion-list-header>
    </ion-list>
    <ion-list>
      <ion-item>

        <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>

      </ion-item>
      <ion-list-header>Tags</ion-list-header>
      <ion-card>

        <ion-card-content>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>

        </ion-card-content>
      </ion-card>
    </ion-list>

    <ion-list>
      <ion-list-header>Translation</ion-list-header>
      <ion-card>
        <ion-card-content>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width:100%"></ion-skeleton-text>
        </ion-card-content>
      </ion-card>
    </ion-list>
  </ng-container>
</ion-content>