<ion-header >
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref=""></ion-back-button>
      </ion-buttons>
      <ion-title slot="start">PROFILE 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen no-padding>

  <!-- <div class="profile-header"></div> -->
  <ng-container *ngIf="groupInfo | async as groupResult">

    <div class="profile">
      <ion-item class="profile-info" padding>
        <ion-col class="profile-description">
          
          <h3 id="profile1-name">{{groupResult.name}}</h3>
          <ion-label class="profile1-description">{{groupResult.createTime}}</ion-label>
          <!--<p>{{(profile2 | async)?.company}} &bull; {{(profile2 | async)?.position}}</p> -->
          <p class="profile1-description">{{groupResult.description}}</p>
        </ion-col>
        <ion-col class="profile-follow">
          <img class="pop-in" [appAvatarId]="groupResult.id"/>
          <ion-button *ngIf="!groupResult.isAdmin" (click)="follow($event)">{{groupResult.isFollowed ? "Following" : "Follow"}}</ion-button>
          <ion-button *ngIf="groupResult.isAdmin" (click)="showGroupEditor(groupResult.id)">Edit</ion-button>
        </ion-col>  
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            
            <ion-col size="4">
              <ion-label class="profile-numbers">
                <ion-icon name="documents-outline"></ion-icon> 
                <span>{{groupResult.readCount}}</span>
              </ion-label>
            </ion-col>
            
            <ion-col size="4">   
              <ion-label class="profile-numbers">
                <ion-icon name="people-outline"></ion-icon>
                <span>{{groupResult.memberCount}}</span>
              </ion-label>
            </ion-col>
            
          </ion-row>
        </ion-grid>
      </ion-item>
    </div>
  </ng-container>
  <ion-segment value="posts" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="posts">
      <ion-label>Posts</ion-label>
    </ion-segment-button>
    <ion-segment-button value="followers">
      <ion-label>Followers</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list [hidden]="!(currentSegment == 'posts' ? true : false)">
    <post-cards [type]="momentGroupType" [id]="groupId"></post-cards>
  </ion-list>
  <ng-container *ngIf="groupInfo | async as groupResult">
    <ion-list [hidden]="!(currentSegment == 'followers' ? true : false)">
      <user-cards *ngIf="groupResult.isAdmin"  [load]="loadUsers" [loadMore]="loadMoreUsers" (remove)="onRemove($event)"></user-cards>
      <user-cards *ngIf="!groupResult.isAdmin"  [load]="loadUsers" [loadMore]="loadMoreUsers"></user-cards>
    </ion-list>
  </ng-container>

</ion-content>
