<ion-header>
  <ion-toolbar>
    <ion-title>{{'auth-login.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="loginForm">


    <ion-list lines="none">
      <ion-text color="dark">
        <h2 text-center class="ion-margin-bottom main-header7">
          {{'auth-login.signInDesc' | translate}}
      </h2>
    </ion-text>
    <ion-item>
      <ion-icon slot="start" color="lightgrey" name="mail"></ion-icon>
      <ion-input required  formControlName="email" type="email" [placeholder]="'auth-login.email' | translate"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" color="lightgrey" name="key"></ion-icon>
      <ion-input formControlName="password" type="password" [placeholder]="'auth-login.password' | translate"></ion-input>
    </ion-item>
    
    <ion-item>
      <a routerLink="/auth-totp">{{'auth-login.forgotPassword' | translate}}</a>
    </ion-item>

    <ion-button color="primary" expand="full" (click)="login()" [disabled]="!loginForm.valid && !loginWaiting">
      {{'auth-login.signIn' | translate}}
      <ion-spinner slot="end" [hidden]='!loginWaiting'></ion-spinner>
    </ion-button>

    <ion-button color="secondary" expand="full" routerLink="/register">
      {{'auth-login.signUp' | translate}}
    </ion-button>
  </ion-list>
  

  </form>
</ion-content>
