<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="loginForm">


    <ion-list lines="none">
      <ion-text color="dark">
        <h2 text-center class="ion-margin-bottom main-header7">
          Sign in to continue
      </h2>
    </ion-text>
    <ion-item>
      <ion-icon slot="start" color="lightgrey" name="mail"></ion-icon>
      <ion-input required  formControlName="email" type="email" placeholder="Email"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-icon slot="start" color="lightgrey" name="key"></ion-icon>
      <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
    </ion-item>
    


      <ion-button color="realgreen" expand="block" (click)="login()" [disabled]="!loginForm.valid && !loginWaiting">
        Sign In
        <ion-spinner slot="end" [hidden]='!loginWaiting'></ion-spinner>
      </ion-button>

    <ion-button color="pink" expand="block" routerLink="/register">
      Sign up
    </ion-button>
  </ion-list>
  

  </form>
</ion-content>
