<ion-header>
  <ion-toolbar>
    <ion-title>Group Editor</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="close()">
        <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="editorForm" *ngIf="currentGroup | async as groupResult; else loading">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-input formControlName="id" hidden></ion-input>
      <ion-item>
        <ion-label position="stacked">Group Name</ion-label>
        <ion-input required formControlName="name">
        </ion-input>

      </ion-item>
      <ion-item lines="none" *ngIf="isNameAvailable && !groupService.checkPending && !groupResult.id">
        <ion-icon name="checkmark-done-outline" color="green" class="ion-float-right"></ion-icon>
        <ion-text color="green">The group name is available</ion-text>
      </ion-item>
      <ion-item lines="none" *ngIf="!isNameAvailable && !groupService.checkPending">
        <ion-icon name="close-outline" color="danger" class="ion-float-right"></ion-icon>
        <ion-text color="danger">The group name is unavailable</ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Group Description</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Group Language</ion-label>
        <ion-select required formControlName="languages">
          <ion-select-option *ngFor="let item of langList" [value]="item.code">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Group Type</ion-label>
        <ion-select required formControlName="groupTypeId">
          <ion-select-option type="number" value="1">Public</ion-select-option>
          <ion-select-option type="number" value="0">Private</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Group Picture</ion-label>
        <ion-row>
          <div class="upload-wrapper">
            <ion-icon name="add-circle-outline" class="ion-float-right"></ion-icon>
            <ion-input type="file" accept="image/*" (change)="readFile($event)">
            </ion-input>
            <ion-avatar *ngIf="croppedImage"><img [src]="croppedImage"/></ion-avatar>
          </div>
        </ion-row>
      </ion-item>
    </ion-list>
  </form>

  <ng-template #loading>
    Loading Group...
  </ng-template>
  
  <ion-button name="save" expand="block" (click)="save()" [disabled]="!editorForm.valid">
    Save
  </ion-button>
</ion-content>