<ion-header>
  <ion-toolbar>
    <ion-title>{{'tag-picker.title' | translate}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="medium" (click)="close($event)">
        <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment  value="Picker" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="Picker">
      <ion-label>{{'tag-picker.pickerLabel' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Word">
      <ion-label>{{'tag-picker.wordLabel' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ng-container *ngIf="currentSegment == 'Picker'">

    <ion-searchbar [(ngModel)]='searchTagName' showCancelButton="focus" (ionChange)='onSearch($event)'></ion-searchbar>
    <ion-list-header>{{'tag-picker.pickHeader' | translate:translateParams}}</ion-list-header>
    <ion-list>
      <ion-row *ngFor="let item of bigTags | tagsFilter: markTags" >
        <ion-item *ngIf="!item.hide" style="width: 100%;">
          <ion-avatar slot="start">
            <div [style.background]='item.tagColor' style="width:100%;height: 100%;"></div>
          </ion-avatar>
          <ion-label>{{item.tagName}}</ion-label>
          <ion-checkbox slot="end" [(ngModel)]='item.selected' (click)='onItemSelected($event)'></ion-checkbox>
        </ion-item>
      </ion-row>
    </ion-list>
  </ng-container>

  <ng-container *ngIf="currentSegment == 'Word' && (wordProfile | async)?.data as result">
    <ion-spinner name="dots" [hidden]="result"></ion-spinner>

    <ion-list name="word">
      <ion-list-header>{{result.wti.profile.word}}</ion-list-header>
    </ion-list>
    <ion-list>
      <ion-item>
        <word-sound [word]="result.wti.profile.word" [lang]="targetLanguage"></word-sound>
        <word-temp slot="end" [score]="result.wti.profile.score"></word-temp>
      </ion-item>
    </ion-list>

    <word-dictionary [translationResult]="result.wti.profile.translationResult"></word-dictionary>
    <word-trend [word]="word" [wordTrends]="result.timeline.wordByMonth.data"></word-trend>
  </ng-container>
</ion-content>