<ion-header>
  <ion-toolbar>
    <ion-title>{{'auth-email.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>



  <ion-list lines="none"  >
    <form [formGroup]="emailForm" style="width: 90%;">
    <ion-item >
      <ion-icon slot="start" color="lightgrey" name="mail"></ion-icon>
      <ion-input type="text" formControlName="email"  [placeholder]="'auth-email.emailAddress' | translate"></ion-input>
      <ion-icon [style.display]="(!isEmailTaken() && emailForm.valid)? 'block' : 'none'"  name="checkmark-done-outline" color="green"></ion-icon>

    </ion-item>
    <span class="error ion-padding" *ngIf="emailForm.controls.email.hasError('emailInUser')">
      <ion-text  color="danger" slot="end">
        {{'auth-email.emailTaken' | translate}}
      </ion-text>
    </span>
    <!-- <ion-item *ngIf="isEmailTaken()">

    </ion-item> -->


    <ion-button name="updateEmail" expand="block" [disabled]="!emailForm.valid || !youCanClick" (click)="updateEmail($event)">
      {{'auth-email.next' | translate}}
    </ion-button>
    </form>
  </ion-list>





</ion-content>
